.ui-input {
    position: relative;
}

.ui-input__input {
    display: flex;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    outline: none;
    background-color: var(--white);
    border: 1px solid var(--gray-400);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 0 16px;
}

.ui-input--withIcon {
    padding-right: 40px;
}

.ui-input--withSpinner {
    padding-right: 40px;
}

.ui-input__input::placeholder {
    color: var(--gray-400);
}

.ui-input__input:hover {
    border-color: var(--primary-400);
}

.ui-input__input:active,
.ui-input__input:focus {
    border-color: var(--primary-600);
}

.ui-input--disabled .ui-input__input {
    pointer-events: none;
    background-color: var(--gray-200);
    border-color: var(--gray-300);
}

.ui-input__icon,
.ui-input__spinner {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    background-color: var(--white);
}

.ui-input__icon--clickable {
    pointer-events: auto;
    cursor: pointer;
}

.ui-input__spinner-inner {
    position: relative;
    width: 16px;
    height: 100%;
}
